.my-text-justify {
    text-align: justify;
  }

  .my-text-justify::after {
    content: "";
    display: inline-block;
    width: 100%;
  }

.accordion img{
    max-width: 100%;
}

.accordion-body ul li {
    margin-bottom: 30px;
}

.alert{
    margin: 10px 0 10px 0;
}